body {
}

/******************************************************************************
 * Typography                                                                 *
 ******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
}

.large {
    font-size: 1.5em !important;
}

.small {
    font-size: 0.75em !important;
}

.centre {
    text-align: center !important;
}

.inline {
    display: inline;
}

a {
    color: #4B8200;
}

a:hover {
    color: #609D02;
}


/******************************************************************************
 * Form controls                                                              *
 ******************************************************************************/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}


/******************************************************************************
 * Buttons                                                                    *
 ******************************************************************************/
.btn {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300; 
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px;
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    background-color: #ddd;
    color: #333;
    background-image: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

a.btn {
    margin-top: -3px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 0;
     -moz-border-radius-topright: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
     -moz-border-radius-bottomright: 0;
}

.btn-group > .btn:first-child,
.btn-group > .btn.large:first-child {
  -webkit-border-bottom-left-radius: 0;
     -moz-border-radius-bottomleft: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topleft: 0;
          border-top-left-radius: 0;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 0;
     -moz-border-radius-topright: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
     -moz-border-radius-bottomright: 0;
          border-bottom-right-radius: 0;
}

.btn-primary {
    background-color: #4B8200;
    border-bottom-color: #214404;
    border-bottom-style: solid;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #609D02;
    border-bottom-color: #285405;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #609D02;
  border-left: 1px solid #ffffff;
}

.btn-primary.dropdown-toggle {
    border-left: 1px solid #ffffff;
}

.btn-primary.dropdown-toggle .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}