<h1>{{ heading }}</h1>

<p>Don't worry, it happens to us all the time as well. Just enter your email address, and we'll send you instructions on how to reset your password.</p>
<p>You'll be back on your feet in no time!</p>

<form method="post" action="/administration/forgot-password">
    <fieldset>
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="text" name="username" id="username" class="form-control" required autofocus />
        </div>

        <p class="login-block">
            <a href="/administration/login" class="btn">Cancel</a>
            <button type="submit" class="btn btn-primary pull-right">Reset password</button>
        </p>
    </fieldset>
</form>